//advantages-list

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//advantages__item

.advantages__item {
  padding: 0 20px;
  min-height: 170px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.advantages__item h3,
.advantages__item p {
  padding: 0;
  margin: 0;
}

.advantages__item__img {
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.advantages__item__numerous {
  background-color: $basic-blue;
  color: $basic-white;
}

.advantages__item__more {
  text-align: left;
}

.advantages__item__last {
  background-color: $basic-grey;
  color: $basic-black;
}

.advantages__item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__item__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item__about {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
