.appointment {
  text-align: center;
}

.appointment__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.appointment__more {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.appointment__button {
  width: 280px;
  max-width: 458px;
  margin: 0 auto;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
