.appointment {
  min-height: 287px;
  text-align: center;
  max-width: 435px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 318px;
  }
}

.appointment__wrapper {
  margin: 33px 20px 49px;
}

.appointment__title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.appointment__more {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.appointment__button {
  min-width: 280px;
  max-width: 458px;
  margin: 0 auto;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
