.appointment {
  padding: 0 20px;
  text-align: center;
}

.appointment__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.appointment__more {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.appointment__button {
  text-decoration: none;
}
