.legend h1,
.legend p {
  padding: 0;
  margin: 0;
}

.legend__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.legend__lead {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
