.legend {
  position: relative;
  max-width: $mobile-width-only;
  min-height: 191px;
  padding-top: 32px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    min-height: 160px;
  }
}

.legend__title {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--form-tablet {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-top: 27px;
      padding-bottom: 5px;
    }
  }
}

.legend__lead {
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.legend__triangle {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 100px;
  clip-path: polygon(50% 19%, -6% 0, 106% 0);
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//Form

.legend--form {
  min-height: 150px;
  padding-top: 36px;
  padding-bottom: 17px;
}

.legend--form .legend__title {
  margin-bottom: 28px;
}

.legend--form .legend__lead {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 102px;
  }
}

//Catalog
.legend--catalog {
  min-height: 150px;
  padding-top: 26px;
  padding-bottom: 13px;

  &-bottom {
    min-height: 160px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.legend--catalog .legend__title {
  margin-bottom: 28px;
}
