// main-nav__list
.main-nav {
  order: -1;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 56px;
    font-size: 14px;
    line-height: 26px;
    background-color: $basic-white;
  }
}

// main-nav__item
.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    min-width: 153px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item:nth-child(2) {
    margin-right: auto;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
