.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
