.page-body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
