.photo {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.photo__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__item {
  position: relative;
  margin-top: 22px;
  border-top: 1px solid $form-groupe-grey;

  @media (min-width: $tablet-width) {
    margin-top: 0;

    &--extended {
      grid-column: span 2;
    }
  }

  @media (min-width: $desktop-width) {
    &--extended {
      grid-column: span 3;
    }
  }
}

.photo__item__img {
  background-color: $bcg-photo;
}

.photo__about__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bcg-photo-title;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $basic-white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__item__title,
.photo__like__numbers,
.photo__item__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.photo__item__author {
  font-weight: 400;
}
