.reviews-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__groupe {
  padding: 20px;
  border-top: 1px solid $form-groupe-grey;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }
}

.form__groupe__name {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.form__groupe__contacts {
  @media (min-width: $tablet-width) {
    grid-column: span 4;
  }
}

.form__groupe__radio {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    order: -1;
  }
}

.form__groupe__checkbox {
  @media (min-width: $tablet-width) {
    grid-column: span 4;
  }
}

.form__groupe__textarea {
  @media (min-width: $tablet-width) {
    grid-column: span 4;
  }
}

.form__groupe__submit {
  @media (min-width: $tablet-width) {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__groupe__checkbox__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__groupe__contacts__icon {
  display: flex;
}

.form__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: $icon-grey;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  &--desktop--row {
    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  &--bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

.contacts__ladel__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.checkbox__ladel__wrapper {
  @media (min-width: $tablet-width) {
    min-width: 50%;
  }

  @media (min-width: $desktop-width) {
    min-width: 25%;
  }
}

.label__desktop__only {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.label__mobile__only {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form__input {
  padding: 18px 0 14px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-grey;
  border: none;

  &:hover {
    background-color: $button-disabled;
  }

  &:active {
    background-color: $input-grey-active;
  }
}

input[name="name"] {
  min-width: 170px;
  width: 100%;
  margin-left: 15px;
}

input[name="surname"],
input[name="father-name"] {
  min-width: 170px;
  width: 100%;
  margin-left: 15px;
}

input[type="tel"],
input[type="email"] {
  min-width: 200px;
  width: 100%;

  // @media (min-width: $tablet-width) {
  //   min-width: 590px;
  // }

  // @media (min-width: $desktop-width) {
  //   min-width: 258px;
  // }
}

.form__submit {
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
  }
}

.form__hint {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
