.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: $basic-blue;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }

  &:active img {
    opacity: 0.3;
  }
}

.social__list :last-child {
  margin-right: 0;
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
