.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 320px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  min-height: 58px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
}

input::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

input[type="text"]::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

input[type="text"]:-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}
